*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.float-left{
    float:left
}
.float-right{
    float:right;
}

header{
    width: 100%;
    height: 5vh;
    background-color: white;
}

button{
    height: 2rem;
    width: 4rem;
    background-color: rgb(35, 82, 211);
    color: white;
    border: none;
    
}

.container-esterno{
  width: 100%;
  height: 70vh;
  background-color: lightblue;
}

.container-interno1{
    width: 80%;
    height: inherit;
    padding-left: 12rem;
}
.container-interno2{
    width: 80%;
    height: 170vh;
    /* background-color: magenta; */
    padding-top: 6.5rem;
    
}
.titolo{
    width: 100%;
    height: 30vh;
    
}

.descrizione {
    width: 30%;
    height: 35vh;;
    
}
.img-1{
    width: 80%;
}

.immagine{
    width: 70%;
    height: 70vh;
    /* background-color: magenta; */
}
p,h5{
    padding-top: 0;
    

}

#start{
    padding: 0rem;
    margin-top: 2rem;
    height: 2rem;
    width: 12rem;
    background-color: rgb(35, 82, 211);
    color: white;
    border: none;
}

.fa-arrow-down{
    padding: 1.5rem;
}
h1{
    text-align: left;
    font-size: 4rem;
    padding-top: 2rem;
}
h6{
    text-align: center;
    font-size: 1rem;
    margin-top: 17px;
}

h4{
    font-family: sans-serif;
    font-size: 15px;
}
/* #font{
    padding: ;
} */
.style{
    color: lightgray;
}
.text, .liste{
    padding:2rem;
}
.row, .list{
    padding-top: 2rem;
    font-size: 1rem;
}

.linea1{
    width: 100%;
    height: 50px;
    
    border-bottom: 1px solid black;
    
}

.logo{
    padding-top: 0.5rem;
}

header .main-nav1  li{
    display: inline-block;
    margin-right: 1rem;
    margin-left: 3rem;
}

header .main-nav2 li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: black ;
}
.link{
    color: rgb(38, 136, 228);
    text-decoration: underline;
}

.linea{
    width: 3rem;
    margin-left: 0;
    margin-top: 3rem;
}
header .main-nav1,
.main-nav2 ul li{
    line-height: 5vh;
}

.intestazione{
    width: 80%;
    margin-bottom: 3rem;
    position: relative; 
}

.intestazione3{
    width: 80%;
    /* background-color: black; */
    height: 80vh;
    position: relative;
}
.font{
position: absolute;
top: 10px;
left: 0px;
font-size: 1rem;
}

input[type="radio"]{
margin-top: 3rem;

}

.intestazione2{
    width: 80%;
}
.colonna1, .colonna2, .colonna3{
    left:0;
    width: calc(80% / 3);
    height: 60rem;
    display:inline-block;
    border: 1px solid black;
}

.colonna2{
    margin: 0 10%;
}

.colonna4{
    margin-top: 2.5rem;
    width: 100%;
    height: 15rem;
    border: 1px solid black;
    position: relative;
}
#Help{
height: 2rem;
width: 12rem;
background-color: rgb(35, 82, 211);
color: white;
border: none;
position: absolute;
top: 6rem;
right: 5px;
}

.immagine2{
    width: 60%;
    height: 60vh;
    /* background-color: brown; */
    position: absolute;
    top: 5vh;
    left: 0;
}
.description{
    position: absolute;
    top: 5vh;
    left: 60%;
    width: 40%;
    height: 60vh;
    
}
.img-2{
    width: 100%;
}
#descr-img, #search{
    padding: 3rem;
    margin-top: 2rem;
}

 
#partner{
    position: absolute;
    height: 3rem;
    width: 12rem;
    left: 3rem;
    color: black;
    background-color: white;
    border: 1px solid black;
    
}

